@model IEnumerable<ChristmasCalendar.Models.Facts>

@{
    ViewData["Title"] = "Home Page";
    Layout = "_CalendarLayout";
}


    <div id="root">
        <div class="container">

        </div>
    </div>

